// 导航栏部分
html,body{
    height: 100%;
}
body{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#nav-top{
    background: #148cca;
    border: none;
}
#nav-top a{
    color: #fff;
    font-weight: bold;
}
#nav-top a:hover{
    color: indigo;
}
#myphoto{
    border-radius:50%;
    height:50px;
}
.myName{
    color:#000;
    font-weight:bold;
    margin-left:10px;
}
//内容部分

.box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: gray;
    overflow: hidden;
}
.content{
    position: absolute;
    width: 960px;
    height: 700px;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    background: rgb(176, 189, 175);
    @media all and (min-width:1280px) {
        transform: translate(-50%,-50%) scale(0.9);
    }
    @media all and (min-width:1024px) and (max-width:1280px) {
        transform: translate(-50%,-50%) scale(0.8);
    }
    @media all and (min-width:768px) and (max-width:1024px) {
        transform: translate(-50%,-50%) scale(0.7);
    }
    @media all and (min-width:375px) and (max-width:768px) {
        transform: translate(-50%,-50%) scale(0.7);
    }
    @media all and (max-width:375px) {
        transform: translate(-50%,-50%) scale(0.4);
    }
}
.common{
    text-align: center;
    
}
//第一页部分
#welcome-page{
    display: none;
    padding: 80px;
}
.photo{
    border-radius: 50%;
}
//基本信息
#Info-page{
    display: none;
    font-size: 30px;
}
.Info-content{
    width: 600px;
    line-height: 30px;
    margin: 120px auto;
}
.Info-content tr td{
    padding: 20px 0;
}
//工作经历
#experience-page{
    display: none;
}
.timeline:before{
    position: absolute;
    content: " ";
    width: 2px;
    height: 550px;
    top: 100px;
    bottom: 0;
    background: rgb(14, 139, 211);
    box-sizing: border-box;
    @media all and (min-width:1024px) {
        left: 50%;
    }
    @media all and (max-width:1024px) {
        left: 250px;
    }
}
.experience-icon{
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: mediumturquoise;
    line-height: 40px;
    transform: translate(-50%);
    
}
.icon_1{
    @media all and (min-width:1024px) {
        top: 100px;
        left: 50%;
       
    }
    @media all and (max-width:1024px) {
        top: 100px;
        left: 250px;
    }
}
.experience-first{
    position: absolute;
    @media all and (min-width:1024px) {
        padding-right:50px; 
        top: 80px;
        right:50%;
        text-align: right;
    }
    @media all and (max-width:1024px) {
        top: 80px;
        left: 300px;
        text-align: left;
    }
}

.icon_2{
    @media all and (min-width:1024px) {
        top: 250px;
        left: 50%;
        
       
    }
    @media all and (max-width:1024px) {
        top: 250px;
        left: 250px;
    }
}
.experience-second{
    position: absolute;
    text-align: left;
    @media all and (min-width:1024px) {
        top: 230px;
        left: 50%;
        padding-left:50px;
       
    }
    @media all and (max-width:1024px) {
        top: 230px;
        left: 300px;
    }
}

.icon_3{
    @media all and (min-width:1024px) {
        top: 400px;
        left: 50%;
       
    }
    @media all and (max-width:1024px) {
        top: 400px;
        left: 250px;
    }
}
.experience-third{
    position: absolute;
    @media all and (min-width:1024px) {
        top: 380px;
        right: 50%;
        padding-right:50px;
        text-align: right;
    }
    @media all and (max-width:1024px) {
        top: 380px;
        left: 300px;
        text-align: left;
    }
}

.icon_4{
    @media all and (min-width:1024px) {
        top: 550px;
        left: 50%;
       
    }
    @media all and (max-width:1024px) {
        top: 550px;
        left: 250px;
    }
}
.experience-fourth{
    position: absolute;
    text-align: left;
    @media all and (min-width:1024px) {
        top: 530px;
        left: 50%;
        padding-left:50px;
       
    }
    @media all and (max-width:1024px) {
        top: 530px;
        left: 300px
    }
}

//专业技能
#skills-page{
    display: none;
}
.skills-name{
    overflow: hidden;
    padding: 30px 100px;
}
#skills-page .skills-name li{
    list-style: none;
    float: left;
    width: 33.33%;
    height: 33.33%;
    
}
#skills-page .skills-name li p{
    font-size: 26px;
    padding-top:10px; 
}

//项目经验

.project-content{
    
}