//基本信息
#Info-page{
    display: none;
    font-size: 30px;
}
.Info-content{
    width: 600px;
    line-height: 30px;
    margin: 70px auto;
}
.Info-content tr td{
    width: 200px;
    padding: 20px 0;
}