.changeBtn {
  position: relative;
  top: 50%; }

.previousPage, .nextPage {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  opacity: 0.1; }

.previousPage:hover, .nextPage:hover {
  opacity: 0.3; }

.previousPage {
  left: 50px; }

.nextPage {
  right: 50px; }

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .previousPage, .nextPage {
    transform: scale(0.8); }
  .previousPage {
    left: 30px; }
  .nextPage {
    right: 30px; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .previousPage, .nextPage {
    transform: scale(0.5); }
  .previousPage {
    left: 10px; }
  .nextPage {
    right: 10px; } }

@media all and (max-width: 768px) {
  .changeBtn, .nextPage, .previousPage {
    display: none; } }
