html, body {
  height: 100%; }

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff; }

#nav-top {
  background: #1f749e;
  border: none; }

#nav-top a {
  color: #fff;
  font-weight: bold; }

#nav-top a:hover {
  color: indigo; }

#myphoto {
  border-radius: 50%;
  height: 50px; }

.myName {
  color: #000;
  font-weight: bold;
  margin-left: 10px; }

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.content {
  position: absolute;
  width: 960px;
  height: 700px;
  left: 50%;
  top: 55%;
  right: auto;
  bottom: auto;
  background: rgba(0, 0, 0, 0.3); }
  @media all and (min-width: 1280px) {
    .content {
      transform: translate(-50%, -50%) scale(0.9); } }
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    .content {
      transform: translate(-50%, -50%) scale(0.8); } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .content {
      transform: translate(-50%, -50%) scale(0.7); } }
  @media all and (min-width: 375px) and (max-width: 768px) {
    .content {
      transform: translate(-50%, -50%) scale(0.7); } }
  @media all and (max-width: 375px) {
    .content {
      transform: translate(-50%, -50%) scale(0.4); } }

.common {
  text-align: center;
  position: relative; }

#welcome-page {
  display: block;
  padding: 80px; }

.photo {
  border-radius: 50%; }

.flashClass_0 {
  animation: firstanimation 1s ease-in-out; }

@keyframes firstanimation {
  0% {
    transform: scale(0); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

#Info-page {
  display: none;
  font-size: 30px; }

.flashClass_1 .Info-content tbody tr:nth-child(1) {
  opacity: 0;
  animation: secondanimation 1.5s ease 0.2s forwards;
  -webkit-animation: secondanimation 1.5s ease 0.2s forwards;
  -moz-animation: secondanimation 1.5s ease 0.2s forwards;
  -ms-animation: secondanimation 1.5s ease 0.2s forwards; }

.flashClass_1 .Info-content tbody tr:nth-child(2) {
  opacity: 0;
  animation: secondanimation 1.5s ease 0.4s forwards;
  -webkit-animation: secondanimation 1.5s ease 0.4s forwards;
  -moz-animation: secondanimation 1.5s ease 0.4s forwards;
  -ms-animation: secondanimation 1.5s ease 0.4s forwards; }

.flashClass_1 .Info-content tbody tr:nth-child(3) {
  opacity: 0;
  animation: secondanimation 1.5s ease 0.6s forwards;
  -webkit-animation: secondanimation 1.5s ease 0.6s forwards;
  -moz-animation: secondanimation 1.5s ease 0.6s forwards;
  -ms-animation: secondanimation 1.5s ease 0.6s forwards; }

.flashClass_1 .Info-content tbody tr:nth-child(4) {
  opacity: 0;
  animation: secondanimation 1.5s ease 0.8s forwards;
  -webkit-animation: secondanimation 1.5s ease 0.8s forwards;
  -moz-animation: secondanimation 1.5s ease 0.8s forwards;
  -ms-animation: secondanimation 1.5s ease 0.8s forwards; }

.flashClass_1 .Info-content tbody tr:nth-child(5) {
  opacity: 0;
  animation: secondanimation 1.5s ease 1s forwards;
  -webkit-animation: secondanimation 1.5s ease 1s forwards;
  -moz-animation: secondanimation 1.5s ease 1s forwards;
  -ms-animation: secondanimation 1.5s ease 1s forwards; }

.Info-content {
  width: 600px;
  line-height: 30px;
  margin: 70px auto; }

.Info-content tr td {
  width: 200px;
  padding: 20px 0; }

@keyframes secondanimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#experience-page {
  display: none; }

.timeline:before {
  position: absolute;
  content: " ";
  width: 2px;
  height: 550px;
  top: 100px;
  bottom: 0;
  background: #0e8bd3;
  box-sizing: border-box; }
  @media all and (min-width: 1024px) {
    .timeline:before {
      left: 50%; } }
  @media all and (max-width: 1024px) {
    .timeline:before {
      left: 250px; } }

.experience-icon {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: mediumturquoise;
  line-height: 40px;
  transform: translate(-50%); }

@media all and (min-width: 1024px) {
  .icon_1 {
    top: 100px;
    left: 50%; } }

@media all and (max-width: 1024px) {
  .icon_1 {
    top: 100px;
    left: 250px; } }

.experience-1 {
  position: absolute; }
  @media all and (min-width: 1024px) {
    .experience-1 {
      padding-right: 50px;
      top: 80px;
      right: 50%;
      text-align: right; } }
  @media all and (max-width: 1024px) {
    .experience-1 {
      top: 80px;
      left: 300px;
      text-align: left; } }

@media all and (min-width: 1024px) {
  .icon_2 {
    top: 250px;
    left: 50%; } }

@media all and (max-width: 1024px) {
  .icon_2 {
    top: 250px;
    left: 250px; } }

.experience-2 {
  position: absolute;
  text-align: left; }
  @media all and (min-width: 1024px) {
    .experience-2 {
      top: 230px;
      left: 50%;
      padding-left: 50px; } }
  @media all and (max-width: 1024px) {
    .experience-2 {
      top: 230px;
      left: 300px; } }

@media all and (min-width: 1024px) {
  .icon_3 {
    top: 400px;
    left: 50%; } }

@media all and (max-width: 1024px) {
  .icon_3 {
    top: 400px;
    left: 250px; } }

.experience-3 {
  position: absolute; }
  @media all and (min-width: 1024px) {
    .experience-3 {
      top: 380px;
      right: 50%;
      padding-right: 50px;
      text-align: right; } }
  @media all and (max-width: 1024px) {
    .experience-3 {
      top: 380px;
      left: 300px;
      text-align: left; } }

@media all and (min-width: 1024px) {
  .icon_4 {
    top: 550px;
    left: 50%; } }

@media all and (max-width: 1024px) {
  .icon_4 {
    top: 550px;
    left: 250px; } }

.experience-4 {
  position: absolute;
  text-align: left; }
  @media all and (min-width: 1024px) {
    .experience-4 {
      top: 530px;
      left: 50%;
      padding-left: 50px; } }
  @media all and (max-width: 1024px) {
    .experience-4 {
      top: 530px;
      left: 300px; } }

@keyframes leftflash {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes rightflash {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes min-rightflash {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@media all and (min-width: 1024px) {
  .flashClass_2 .experience-1 {
    opacity: 0;
    animation: leftflash 0.6s ease forwards;
    -webkit-animation: leftflash 0.6s ease forwards;
    -moz-animation: leftflash 0.6s ease forwards;
    -ms-animation: leftflash 0.6s ease forwards; }
  .flashClass_2 .experience-2 {
    opacity: 0;
    animation: rightflash 0.6s ease 0.6s forwards;
    -webkit-animation: rightflash 0.6s ease 0.6s forwards;
    -moz-animation: rightflash 0.6s ease 0.6s forwards;
    -ms-animation: rightflash 0.6s ease 0.6s forwards; }
  .flashClass_2 .experience-3 {
    opacity: 0;
    animation: leftflash 0.6s ease 1.2s forwards;
    -webkit-animation: leftflash 0.6s ease 1.2s forwards;
    -moz-animation: leftflash 0.6s ease 1.2s forwards;
    -ms-animation: leftflash 0.6s ease 1.2s forwards; }
  .flashClass_2 .experience-4 {
    opacity: 0;
    animation: rightflash 0.6s ease 1.8s forwards;
    -webkit-animation: rightflash 0.6s ease 1.8s forwards;
    -moz-animation: rightflash 0.6s ease 1.8s forwards;
    -ms-animation: rightflash 0.6s ease 1.8s forwards; } }

@media all and (max-width: 1024px) {
  .flashClass_2 .experience-1 {
    opacity: 0;
    animation: min-rightflash 0.6s ease forwards;
    -webkit-animation: min-rightflash 0.6s ease forwards;
    -moz-animation: min-rightflash 0.6s ease forwards;
    -ms-animation: min-rightflash 0.6s ease forwards; }
  .flashClass_2 .experience-2 {
    opacity: 0;
    animation: min-rightflash 0.6s ease 0.6s forwards;
    -webkit-animation: min-rightflash 0.6s ease 0.6s forwards;
    -moz-animation: min-rightflash 0.6s ease 0.6s forwards;
    -ms-animation: min-rightflash 0.6s ease 0.6s forwards; }
  .flashClass_2 .experience-3 {
    opacity: 0;
    animation: min-rightflash 0.6s ease 1.2s forwards;
    -webkit-animation: min-rightflash 0.6s ease 1.2s forwards;
    -moz-animation: min-rightflash 0.6s ease 1.2s forwards;
    -ms-animation: min-rightflash 0.6s ease 1.2s forwards; }
  .flashClass_2 .experience-4 {
    opacity: 0;
    animation: min-rightflash 0.6s ease 1.8s forwards;
    -webkit-animation: min-rightflash 0.6s ease 1.8s forwards;
    -moz-animation: min-rightflash 0.6s ease 1.8s forwards;
    -ms-animation: min-rightflash 0.6s ease 1.8s forwards; } }

#skills-page {
  display: none; }

.skills-name {
  overflow: hidden;
  padding: 80px 150px; }

#skills-page .skills-name li {
  list-style: none;
  float: left;
  width: 33.33%;
  height: 33.33%; }

#skills-page .skills-name li p {
  font-size: 26px;
  padding-top: 20px; }

#skills-page .skills-name li img {
  padding: 10px;
  width: 40%; }

#skills-page .skills-name li img:hover {
  transform: scale(1.5); }

.flashClass_3 .skills-content .skills-name img {
  animation: skillIconflash 1s ease;
  -webkit-animation: skillIconflash 1s ease;
  -moz-animation: skillIconflash 1s ease;
  -ms-animation: skillIconflash 1s ease; }

.flashClass_3 .skills-content .skills-name p {
  opacity: 0;
  animation: skillTitleflash 1s ease 1s forwards;
  -webkit-animation: skillTitleflash 1s ease 1s forwards;
  -moz-animation: skillTitleflash 1s ease 1s forwards;
  -ms-animation: skillTitleflash 1s ease 1s forwards; }

@keyframes skillIconflash {
  0% {
    opacity: 0;
    transform: rotateY(360deg) scale(0); }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1); } }

@keyframes skillTitleflash {
  0% {
    opacity: 0;
    transform: scale(0); }
  90% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes skillIconmove_1 {
  0% {
    transform: translate(1px, 1px); }
  25% {
    transform: translate(1px, -1px); }
  50% {
    transform: translate(-1px, 1px); }
  75% {
    transform: translate(-1px, -1px); }
  100% {
    transform: translate(1px, 1px); } }

@keyframes skillIconmove_2 {
  0% {
    transform: translate(-1px, 1px); }
  25% {
    transform: translate(-1px, -1px); }
  50% {
    transform: translate(1px, -1px); }
  75% {
    transform: translate(1px, 1px); }
  100% {
    transform: translate(-1px, 1px); } }

@keyframes skillIconmove_3 {
  0% {
    transform: translate(1px, -1px); }
  25% {
    transform: translate(1px, 1px); }
  50% {
    transform: translate(-1px, 1px); }
  75% {
    transform: translate(-1px, -1px); }
  100% {
    transform: translate(1px, -1px); } }

.flashClass_3 .skills-content .skills-name li:nth-child(1),
.flashClass_3 .skills-content .skills-name li:nth-child(5),
.flashClass_3 .skills-content .skills-name li:nth-child(9) {
  animation: skillIconmove_1 2s linear infinite;
  -webkit-animation: skillIconmove_1 2s linear infinite;
  -moz-animation: skillIconmove_1 2s linear infinite;
  -ms-animation: skillIconmove_1 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:nth-child(2),
.flashClass_3 .skills-content .skills-name li:nth-child(6),
.flashClass_3 .skills-content .skills-name li:nth-child(8) {
  animation: skillIconmove_2 2s linear infinite;
  -webkit-animation: skillIconmove_2 2s linear infinite;
  -moz-animation: skillIconmove_2 2s linear infinite;
  -ms-animation: skillIconmove_2 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:nth-child(3),
.flashClass_3 .skills-content .skills-name li:nth-child(4),
.flashClass_3 .skills-content .skills-name li:nth-child(7) {
  animation: skillIconmove_3 2s linear infinite;
  -webkit-animation: skillIconmove_3 2s linear infinite;
  -moz-animation: skillIconmove_3 2s linear infinite;
  -ms-animation: skillIconmove_3 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:hover {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none; }

.changeBtn {
  position: relative;
  top: 50%; }

.previousPage, .nextPage {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  opacity: 0.1; }

.previousPage:hover, .nextPage:hover {
  opacity: 0.3; }

.previousPage {
  left: 50px; }

.nextPage {
  right: 50px; }

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .previousPage, .nextPage {
    transform: scale(0.8); }
  .previousPage {
    left: 30px; }
  .nextPage {
    right: 30px; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .previousPage, .nextPage {
    transform: scale(0.5); }
  .previousPage {
    left: 10px; }
  .nextPage {
    right: 10px; } }

@media all and (max-width: 768px) {
  .changeBtn, .nextPage, .previousPage {
    display: none; } }
