#skills-page {
  display: none; }

.skills-name {
  overflow: hidden;
  padding: 80px 150px; }

#skills-page .skills-name li {
  list-style: none;
  float: left;
  width: 33.33%;
  height: 33.33%; }

#skills-page .skills-name li p {
  font-size: 26px;
  padding-top: 20px; }

#skills-page .skills-name li img {
  padding: 10px;
  width: 40%; }

#skills-page .skills-name li img:hover {
  transform: scale(1.5); }

.flashClass_3 .skills-content .skills-name img {
  animation: skillIconflash 1s ease;
  -webkit-animation: skillIconflash 1s ease;
  -moz-animation: skillIconflash 1s ease;
  -ms-animation: skillIconflash 1s ease; }

.flashClass_3 .skills-content .skills-name p {
  opacity: 0;
  animation: skillTitleflash 1s ease 1s forwards;
  -webkit-animation: skillTitleflash 1s ease 1s forwards;
  -moz-animation: skillTitleflash 1s ease 1s forwards;
  -ms-animation: skillTitleflash 1s ease 1s forwards; }

@keyframes skillIconflash {
  0% {
    opacity: 0;
    transform: rotateY(360deg) scale(0); }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1); } }

@keyframes skillTitleflash {
  0% {
    opacity: 0;
    transform: scale(0); }
  90% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes skillIconmove_1 {
  0% {
    transform: translate(1px, 1px); }
  25% {
    transform: translate(1px, -1px); }
  50% {
    transform: translate(-1px, 1px); }
  75% {
    transform: translate(-1px, -1px); }
  100% {
    transform: translate(1px, 1px); } }

@keyframes skillIconmove_2 {
  0% {
    transform: translate(-1px, 1px); }
  25% {
    transform: translate(-1px, -1px); }
  50% {
    transform: translate(1px, -1px); }
  75% {
    transform: translate(1px, 1px); }
  100% {
    transform: translate(-1px, 1px); } }

@keyframes skillIconmove_3 {
  0% {
    transform: translate(1px, -1px); }
  25% {
    transform: translate(1px, 1px); }
  50% {
    transform: translate(-1px, 1px); }
  75% {
    transform: translate(-1px, -1px); }
  100% {
    transform: translate(1px, -1px); } }

.flashClass_3 .skills-content .skills-name li:nth-child(1),
.flashClass_3 .skills-content .skills-name li:nth-child(5),
.flashClass_3 .skills-content .skills-name li:nth-child(9) {
  animation: skillIconmove_1 2s linear infinite;
  -webkit-animation: skillIconmove_1 2s linear infinite;
  -moz-animation: skillIconmove_1 2s linear infinite;
  -ms-animation: skillIconmove_1 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:nth-child(2),
.flashClass_3 .skills-content .skills-name li:nth-child(6),
.flashClass_3 .skills-content .skills-name li:nth-child(8) {
  animation: skillIconmove_2 2s linear infinite;
  -webkit-animation: skillIconmove_2 2s linear infinite;
  -moz-animation: skillIconmove_2 2s linear infinite;
  -ms-animation: skillIconmove_2 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:nth-child(3),
.flashClass_3 .skills-content .skills-name li:nth-child(4),
.flashClass_3 .skills-content .skills-name li:nth-child(7) {
  animation: skillIconmove_3 2s linear infinite;
  -webkit-animation: skillIconmove_3 2s linear infinite;
  -moz-animation: skillIconmove_3 2s linear infinite;
  -ms-animation: skillIconmove_3 2s linear infinite; }

.flashClass_3 .skills-content .skills-name li:hover {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none; }
